* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f6f2ce;
  font-family: "Roboto", sans-serif;
}
#root {
  min-height: 100vh;
  width: 90%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  color: #7dd498;
}
#box {
  width: 90%;
  margin: 50px auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #7dd498;
  flex-wrap: wrap;
  transition: 0.3s ease;
}

.card {
  width: 300px;
  height: 330px;
  background-color: #fff;
  margin: 15px;
  text-align: center;
  border: solid 1px #f8f6f2ce;
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-bottom: #f8f6f2ce;
}
.card h3 {
  width: 100%;
  color: #7dd498;
  box-sizing: border-box;
  padding: 10px auto;
}

@media (max-width: 600px) {
  #root {
    width: 100%;
  }
  #root h1 {
    text-align: center;
    font-size: 1rem;
  }
  #box {
    width: 95%;
    margin-top: 30px;
    padding: 10px;
  }
  .card {
    width: 1000px;
    height: 400px;
    margin-bottom: 10px;
  }
  .card img {
    width: 100%;
    height: 370px;
  }
  .card h3 {
    font-size: 1rem;
  }
}
